$column: 200px;

@component-namespace lp {

    @component Tabs {

        @modifier simple {
            padding: 1rem;
        }

        @descendent Tab {
            border: 1px solid #ccc;

          @when selected {
              border: 1px solid red;
          }
        }


        @descendent TabPanel {
            border: 1px solid #ccc;

          @when selected {
              border: 1px solid blue;
          }
        }

    }
}
